<table class="table table-striped">
  <thead>
    <tr>
      <th>No.</th>
      <th>Nom</th>
      <th>Pos</th>
      <th>Taille</th>
      <th>Poids</th>
      <th>Date de naissance</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players">
      <td>{{player.uniform_number}}</td>
      <td>{{player.first_name}} {{player.last_name}}</td>
      <td>{{player.position | firstLetter | uppercase}}</td>
      <td>{{player.height}}</td>
      <td>{{player.weight}} lbs</td>
      <td>{{player.birth_date}}</td>
    </tr>
  </tbody>
</table>
